@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blinkCaret {
    from, to {
      border-color: transparent;
    }
    
  }
.countPorperties{
  font-size: 15px;
  margin-left: 5px;
  color: darkgray;
}
  .containerCarga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura completa de la pantalla */
    text-align: center; /* Centra el texto */
  }

  .carga{
    width: 400px; /* Ajusta el tamaño de la imagen según lo necesites */
  
  }

.containerError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Altura completa de la pantalla */
    text-align: center; /* Centra el texto */
  }
  
  .img {
    width: 400px; /* Ajusta el tamaño de la imagen según lo necesites */
    margin-bottom: 20px; /* Espacio entre la imagen y el texto */
  }


  .errorMessage {
    font-size: 25px;
    display: inline-block; /* Necesario para aplicar el efecto typing */
    overflow: hidden; /* Oculta el texto fuera del ancho */
    white-space: nowrap; /* Evita que el texto se rompa en una nueva línea */
    border-right: 3px solid blue; /* Añade un caret azul parpadeante */
    font-family: monospace; /* Fuente de tipo monoespaciada para efecto de máquina de escribir */
    animation: typing 4s steps(40, end), blinkCaret .75s step-end infinite; /* Animaciones */
  }
.highlight {
    color: #A83E52; /* Color rojo solo para la palabra "PROPIEDADES" */
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 8px; /* Espaciado entre los botones */
    flex-wrap: wrap; /* Para que los botones se acomoden en pantallas pequeñas */
  }
  
  .pageButton {
    background-color: #3D2F87; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Animación suave */
  }
  
  .pageButton:hover {
    background-color: #3D2F87; /* Azul más oscuro al hacer hover */
    transform: scale(1.1); /* Agranda ligeramente el botón al pasar el mouse */
  }
  
  .activePage {
    background-color: #A83E52; /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: default; /* No cambia el cursor en el botón activo */
  }
  
  .activePage:hover {
    transform: none; /* Sin animación en el botón activo */
  }
  
  @media (max-width: 768px) {
    .pagination {
      gap: 4px; /* Reduce el espaciado en pantallas pequeñas */
    }
  
    .pageButton,
    .activePage {
      padding: 6px 10px;
      font-size: 14px;
    }
  }
  