@media (max-width: 768px) {
  .left-panel img,
  .right-panel img {
    display: none;
  }

  /* Ajusta el tamaño del panel central */
  .center-panel {
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño máximo según sea necesario */
    margin: 0 auto; /* Centra el panel */
    text-align: center; /* Alinea el contenido al centro */
    position: static; /* Restablece la posición a estática */
    top: auto; /* Restablece la posición superior */
    left: auto; /* Restablece la posición izquierda */
    transform: none; /* Restablece la transformación */
  }

  /* Ajusta el tamaño del logo */
  .logo img {
    width: 80px; /* Ajusta el ancho del logo */
    height: auto; /* Ajusta la altura automáticamente */
    margin-right: 0; /* Elimina el margen derecho */
    margin-top: 0; /* Elimina el margen superior */
  }

  /* Ajusta el tamaño del texto */
  .logo h3,
  .logo p {
    font-size: 12px; /* Ajusta el tamaño de la fuente */
  }
}