/* Card.module.css */

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
    position: relative;
  }
  
  .link {
    text-decoration: none;
    color: #333;
  }
  
  .image {
    max-width: 750px;
    max-height: 400px;
    object-fit: contain;
    background-color: #ccc;
    display: block;
    margin: auto; /* Centra la imagen horizontalmente */
    transition: transform 1s ease; /* Agrega una transición suave */
    border-radius: 10px;
  }
  
  .imageContainer {
    width: 90%;
    height: 400px; /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
   
   border-radius: 10px;
}

.imageContainer .carousel-item {
  display: block !important; /* Asegura que los ítems del carrusel se muestren como flex */
  justify-content: center;
  align-items: center;
}



  .price {
    font-weight: bold;
  }

  .sellerimg {
    width: 50px; /* Tamaño deseado de la imagen */
    height: 50px;
    border-radius: 50%; /* Para hacer la imagen redondeada */
  }
  
  .sellerContainer{
    display: flex; /* Utilizamos flexbox para colocar los elementos en línea */
  align-items: center; /* Alineamos verticalmente los elementos al centro */
  width: 100%;
  box-sizing: border-box;

  }

  .sellerDetails{
    flex-grow: 1;
    padding: 10px; 
    display: flex;
  }

  
  .detailsCardContainer {
    padding-left: 15px;
    font-size: 16px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 3000px !important;
  }

  .price{
    font-size: 46px;
    color: #333;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  .street{
    font-size: 20px;
    color: #333;
 
  
  }
  .locality{
    font-size: 16px;
    color: #8a8a8a;
    
  }

  .WhatsApp{
    width: 40px;
    padding: 10px;
  }

  .email{
    width: 40px;
    padding: 10px;
  }

  .comunication{
   align-items: end;
   text-align: end;
  }

  .vendedorName{
    font-size: 20px;
    padding-right: 20px;
  }


  .baño{
    width: 50px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  }

  .datos{
    display: flex;
  }

  