.carouselContainer{
  width: 100%;
  height: 500px; /* Ajusta este valor según tus necesidades */
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.carousel-item{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-img {
  max-width: 100%; /* Asegura que la imagen se ajuste al contenedor */
  max-height: auto; /* Asegura que la imagen se ajuste al contenedor */
  object-fit: contain; /* Hace que la imagen se ajuste dentro del contenedor manteniendo su relación de aspecto */
  display: block;
}

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para las leyendas */
  color: white;
  padding: 10px;
  width: 100%; /* Asegura que la leyenda ocupe todo el ancho del contenedor */
}

.ContainerIntro {
  margin-top: 50px;
  margin-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: column; /* Cambia la dirección del flujo a columnas */
  border: 1px solid rgb(131, 125, 125);
  padding: 15px;
  border-radius: 10px;
}

.ContainerIntro:hover {
  border-color: #3D2F87; /* Cambia el color del borde al pasar el mouse sobre el contenedor */
}


.ContainerSell {
  width: 100%; /* Ancho deseado para el contenedor */
  
}

.ContainerSell h3 {
  margin-bottom: 0.5rem; /* Espacio entre el título "Venta" y el título de la propiedad */
}

.ContainerSell h1 {
  font-weight: bold; /* Hace el título de la propiedad en negrita */
}

.ContainerSell p {
  font-weight: bold; /* Hace el precio en negrita */
 font-size: 35px;
}

.ContainerPrincipalData {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
}

.ContainerPrincipalData p {
 font-size: 16px;
  margin-right: 4%; /* Añade un pequeño margen horizontal entre los elementos */
}

h3 {
  font-size: 12px;
  color:darkgray;
}
.SellTitle {
  display: inline-block; /* Hace que el contenedor solo ocupe el ancho del contenido */
  border: 1px solid darkgray; /* Aplica el borde alrededor del título */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 5px;
}


.descriptionContainer {
  margin-top: 10px;
  margin-left: 10px;
  width: 60%;
  display: flex;
  flex-direction: column; /* Cambia la dirección del flujo a columnas */
  border: 1px solid rgb(131, 125, 125);
  padding: 15px;
  border-radius: 10px;
}

.description {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-basis: 100%;
}

.otherDataContainer {
  display: flex;
  flex-wrap: wrap;
}

.otherData {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pairContainer {
  width: 50%;
  padding: 1px;
  box-sizing: border-box;
}

.pairContainer p {
  margin: 0;
  padding: 5px 0;
  line-height: 1.5;
}






.dataContainer {
  margin-top: 20px;
}

.data {
  display: flex;
  flex-wrap: wrap;
}

.data ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.data li {
  width: calc(50% - 20px); /* Ancho de cada columna */
  margin: 5px;
  box-sizing: border-box;
}

