.img {
    max-width: 60px;
  }

/* Establecer el tamaño de fuente para pantallas más grandes */
@media (min-width: 992px) {
  :root {
    --bs-nav-link-font-size: 23px; /* Tamaño de fuente más grande para pantallas grandes */
  }
  .navCenter {
    display: flex;
    align-items: center;
}
}

/* Establecer el tamaño de fuente para pantallas más pequeñas */
@media (max-width: 991px) {
  :root {
    --bs-nav-link-font-size: 17px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
  .logo {
    max-width: 35px;
  }
  .navCenter {
    display: flex;
    align-items: center;
}
}