.declaracion{
    font-size: 0.8rem; /* Tamaño de la fuente pequeño */
    color: gray; /* Color de la fuente gris */
    text-align:justify; /* Texto centrado */
    margin: 20px 0; /* Espacio arriba y abajo */
  }
  